{% extends 'inicio_sepulveda/base.html' %}

{% block title %}Ciberseguridad{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="mb-3">Sección de Ciberseguridad</h2>
        <p class="lead">Espacio dedicado a la seguridad informática, análisis de redes y protección de datos.</p>
        <hr>
        <div class="alert alert-secondary" role="alert">
            Contenido clave optimizado para cumplir con los requerimientos de la pauta.
        </div>
    </div>
</div>
{% endblock %}