{% extends 'inicio_sepulveda/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3 shadow-sm">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Evaluación Sumativa 2</h1>
        <p class="col-md-8 fs-4">Plataforma web desarrollada en Django con diseño responsivo usando Bootstrap.</p>
        <a href="{% url 'ciberseguridad' %}" class="btn btn-dark btn-lg">Ver Ciberseguridad</a>
    </div>
</div>
{% endblock %}